<%= render "shared/banner" %>
<div class="container py-4">
  <h2 class="text-center text-secondary display-6">Recently Added Trips & Activities</h2>
  <%= render 'card', trips: @trips %>
</div>

<div class="column">
  <hr>
  <%= render "shared/column" %>
</div>







<%# <%= render partial: 'trips/index/row', locals: {trips: @trips} %>
