<h1>Trips</h1>
<div class="row">
  <% @trips.each do |trip| %>
    <div class="col-lg-3">
      <div class="card">
        <% if trip.thumbnail.attached? %>
          <%= cl_image_tag trip.thumbnail.key, height: 200, crop: :fill %>
        <% end %>
        <%= link_to trip.name, trip_path(trip) %>
        <%= trip.destination %>
      </div>
    </div>
  <% end %>

</div>
