<div id="message-<%= message.id %>">
  <small>
    <div class="col-md-12 col-lg-12">
      <%# <div class="border border-dark-subtle rounded-4 px-3 py-2"> %>
        <strong><%= message.user.first_name %> wrote on </strong>
        <i><%= message.created_at.strftime("%b %e, %l:%M %p") %>:
          <div>
            <%= message.content %>
          </div>
        </i>
      <%# </div> %>
    </div>
  </small>
</div>
