.booking-card {
  margin-top: 30px;
  border: 1px solid #d2cfcf;
  border-radius: 10px;
  padding: 60px 0px 60px 60px;
  height: 100%;
  width: 80%;
  background-color: white;
  margin-bottom: 40px;
  padding-right:50px;
}

.summary-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.btn-primary-contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5px;
  border: 0.5px solid #0C3865;
  color: #0C3865;
  border-radius: 7px;
  font-weight: 100;
  font-size: smaller;
}

.btn-primary-contact:hover {
  background: #0C3865;
  color: white;
}

.btn-primary-td {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5px;
  border: 0.5px solid #0C3865;
  color: #0C3865;
  border-radius: 7px;
  font-weight: 100;
  font-size: smaller;
}

.btn-primary-td:hover {
  background: #0C3865;
  color: white;
}

.contact-btn:hover {
  width: 100%;
  margin-top: 0px;
  // margin-left: auto;
}

.vl {
  border-right: 1.5px solid rgba(0, 0, 0, 0.172);
  height: 100%;
  width: 1px;
}

.info-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -20px;
  text-align: center;
}

.title-confirmation {
  text-align: center;
}

.title-confirmation {
  text-align: left;
}

.btn-booking-confirm {
  background: #0C3865;
  border: 0.5px solid #0C3865;
  border-radius: 7px;
  font-weight: 100;
  font-size: smaller;
  width: 190px;
  padding: 10px 15px 10px 15px;
  color: white;
}

.btn-booking-confirm a {
  color: white;
  text-decoration: none;
}

.btn-booking-confirm:hover {
  background: white;
  border: 0.5px solid #0C3865;
}

.btn-booking-confirm:hover a {
  color: #0C3865;
}

.display-box {
  height: inherit;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.info-title {
  margin-bottom: 10px;
}

.button-contact {
  margin-bottom: 16px;
}
