.dashboard-container {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  min-height: 600px;
  margin-bottom: 40px;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dash-tab {
  width: 100%;
}

.user-booking-card {
  padding-top: 30px;
  padding-bottom: 10px;
  min-height: 100px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.btn-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.avatar-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.user-avatar {
  width: 70%;
  height: auto;
  border-radius: 50%;
  // margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-booking-primary {
  margin-right: 5px;
    border: 0.5px solid #0C3865;
    color: #0C3865;
    border-radius: 7px;
    font-weight: 100;
    font-size: smaller;
}
.btn-booking-warning {
  color: white;
  background: #0C3865;
  border: 0.5px solid #0C3865;
  border-radius: 7px;
  font-weight: 100;
  font-size: smaller;
}

.new-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.btn-new {
  float: right;
  margin-right: 10px;
}

.new-link {
  text-decoration: none;
  color: grey;
  margin-right: 10px;
}

.new-link:hover{
  text-decoration: none;
  color: #0C3865;
  .plus-icon {
    background-color: #0C3865;
  }
}

.plus-icon {
  color: white;
  background-color: grey;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
}

.dash-tab {
  color: grey;
}

.dash-tab:hover {
  color: #0C3865;
}

.nav-link.dash-tab.active {
  background-color: white;
  color: #0C3865;
  border: 1px solid #0C3865;
  border-radius: 5px;
}
