// Import page-specific CSS files here.
@import "booking_details";
@import "home";
@import "host_dashboard";
@import "show_page";
@import "login_new";
@import "signup";
@import "booking_details";
@import "user_bookings";

body {
  position: relative;
  min-height: 100vh;
  background-color: white;
}
