<div class="home-video-wrapper">
  <div class="video-container">
    <%= video_tag "feelbluevid.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>
  <h1 class="home-title"> Book the Best Trips On The Lagoon</h1>
</div>
