<div class="container">
  <div class="column-header">
    <h3 class="text-center text-secondary display-6 mt-4 mb-4">Why Book With Feeling Blue? <i class="fa-solid fa-sailboat"></i></h3>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-4 text-center content-item">
      <h4>Travel like a local</h4>
      <p>There's nothing like exploring a new place and there's no better way to do it than with the help of the locals that live there.</p>
    </div>
    <div class="col-sm-12 col-lg-4 text-center content-item">
      <h4>Visit locations that aren't on any list</h4>
      <p>Forget "Best Activities..." lists. You'll experience the Lagoon (and all its hidden gems) just like the locals do.</p>
    </div>
    <div class="col-sm-12 col-lg-4 text-center content-item">
      <h4>Create lifetime memories</h4>
      <p>Once you experience the Lagoon and crystal blue waters, you'll never forget it.</p>
    </div>
  </div>

  <div class="image-container">
    <%= image_tag("island.png", class: "island-img") %>
    <div data-controller="moving-image">
      <div data-moving-image-target="image">
        <%= image_tag("speedboat.png", class: "moving-img", style: "left: 0px;") %>
      </div>
    </div>
  </div>
</div>
