<div class="columns">
<h3>Why Feeling Blue?</h3>
<%# COLUMN 1 %>
  <div class="column">
    <h4>Travel like a local</h2>
    <p>There's nothing like exploring a new place and there's no better way to do it than with the help of the locals that live there.</p>
  </div>

<%# COLUMN 2 %>
  <div class="column">
    <h4>Share new experiences</h2>
    <p>body</p>
  </div>

<%# COLUMN 3 %>
  <div class="column">
    <h4>Create lasting memories</h2>
    <p>body</p>
  </div>
</div>
