<div data-controller="moving-image">
  <div class="card" data-moving-image-target="image"
      style="
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100px;
      height: 100px;
      background-color: blue;
      color: white;
      position: relative;
      left: 0px;">
    <h5>Test</h5>
  </div>
</div>


<div style="margin-top: 500px;">
<p>Bottom</p>
</div>
