.column {
  background-color: white;
  padding-bottom: 30px;
}

.column-header {
  padding-top: 25px;
}

.row h4 {
 color: #8E7258;
 font-size: 19px;
}

.column p {
  color: #949494;
  font-size: 16px;
}

.content-item {
  margin-bottom: 20px;
}
