.column {
  background-color: white;
  padding-bottom: 30px;
}

.column-header {
  padding-top: 25px;
}

.row h4 {
 color: #8E7258;
 font-size: 19px;
}

.column p {
  color: #949494;
  font-size: 16px;
}

.content-item {
  margin-bottom: 20px;
}

.island-img {
  display: block;
  width: 90px;
  height: 90px;
  position: sticky;
  left: 50vw;
}

.moving-img {
  position: relative;
  background-image: image-url("speedboat.png");
  width: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  left: 0px;
}
