.form_container {
  margin-top: 30px;
  border: 1px solid #d2cfcf;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  background-color: white;
}

.booking_form {
  position: sticky;
  top: 110px;
  height: 300px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
  margin-top: 0px;
}

.form-select {
  color: #6c757d;
}

.form-control {
  color: black;
  background-color: transparent;
  border: #0c3865 1px solid;
  border-radius: 15px;
}
.form-control:focus {
  color: black;
  background-color: transparent;
}

.total-price {
  color: #0c3865;
  text-align: right;
  font-weight: 600;
  margin-top: 40px;
  justify-content: space-between;
}
