.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  top: 0;
  position: sticky;
  z-index: 999;
  height: 80px;
  transition: 0.3s ease-in-out;
  width: 100vw;
}

.search-bar .form-control {
  border-radius: 30px;
  border: 1px solid #0c3865;
  background: none;
  color: #0c3865;
}

.d-flex input {
   color: #0c3865;
}

.d-flex #submit-icon {
  float: left;
  border: none;
  background: none;
  text-indent: -25px;
  color: #0c3865;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.nav-item {
  color: #0c3865;
  padding: 0px 15px 0px 15px;
  border-radius: 7px;
  background: none;
  text-decoration: none;
  font-size: smaller;
  font-weight: bold;
}

.nav-item:hover {
  border: none;
  background-color: #0c3865;
  transition: all 0.5s ease;
}

.nav-item:hover a {
  color:white;
  transition: 0.5s;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;
  text-decoration: none;
  color: gray;
}

.img-boat {
  width: 50px;
  height: 20px;
  margin-top: 25px;
}

.img-island {
  width: 40px;
  height: 45px;
}

.brand-name {
  text-decoration: none;;
}
