.trip-card {
  margin: 20px;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 0 10px #D3D3D3;
  cursor: pointer;
}

.card-content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.card-image {
  border-radius: 7px 7px;
}

.activity-title a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.card-title p {
  font-size: small;
  color: #949494;
}

.btn-primary-trip {
  margin-top: 9px;
  margin-bottom: 15px;
  background: none;
  border: 1px solid #21B374;
  border-radius: 4px;
  width: 120px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-primary-trip a {
  text-decoration: none;
  color: #21B374;
  font-size: smaller;
}

.btn-primary-trip:hover {
  background-color: #26a36d;
  transition: 0.5s;
}

.btn-primary-trip:hover a {
  color: white;
  font-weight: 500;
}
