.trip-card {
  margin: 20px;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 0 10px #D3D3D3;
  cursor: pointer;
  max-width: 240px;
}

.card-content {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.card-image {
  border-radius: 7px 7px;
}

.activity-title a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.card-title p {
  font-size: small;
  color: #949494;
  margin-bottom: 0.15rem;
}

.btn-primary-trip {
  margin-right: 5px;
  // border: 0.5px solid #0c3865;
  color: #0c3865;
  // border-radius: 7px;
  font-weight: 800;
  font-size: smaller;
}

.btn-primary-trip a {
  text-decoration: none;
  color: #0c3865;
  font-size: medium;
}

.btn-primary-trip:hover {
  transition: 0.5s;
  background: #0c3865;
  border: 0.5px solid #0c3865;
  color: white;
}

.btn-primary-trip:hover a {
  color: white;
  font-weight: 500;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
