// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.css";

// Your CSS partials
@import "pages/home";
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/footer";
@import "components/trip_card";
